<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Home</title>

</head>

<body>
    <div id="home">
        <div class="header">
            <span class="links-header">
                <span><a href="#">Início</a></span>
                <span><a href="../produtos/produtos.html">Loja</a></span>
                <span><a href="#features-charts">Fale conosco</a></span>
                <span id="div-busca">
                    <input type="text" id="txt-busca" placeholder="">
                </span>
                <span class="search"><ion-icon name="search"></ion-icon></span>
                <span class="cart"><ion-icon name="cart"></ion-icon><a href="#"></a></span>
                <span class="user"><ion-icon name="person"></ion-icon><a href="#"></a></span>
            </span>
        </div>
    </div>
        <div class="body-bg">
            <img src="/static/images/home-img.png" alt="Imagem do Espaço">
            <label class="text-welcome">Bem vindo à Lazuli!</label>
        </div>

        <div id="features-charts">
            <span class="free-shipping">
                <ion-icon name="car-outline"></ion-icon>
                Frete Grátis Acima de R$100
            </span>
            <span class="no-fees">
                <ion-icon name="card-outline"></ion-icon>
                Até 3x sem Juros
            </span>
            <span class="purchase-security">
                <ion-icon name="shield-checkmark-outline"></ion-icon>
                Compra Segura
            </span>
        </div>
    <div class="chart">
        <form class="fale-conosco">
          <div class="retangulo-esquerda">
            <span class="sublinhado">Fale Conosco</span>
          </div>
          <div class="retangulo-inputs">
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Telefone">
          </div>
          <div class="retangulo-mensagem">
            <textarea placeholder="Mensagem"></textarea>
            <button>Enviar</button>
          </div>
        </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
