<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/addresses.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Endereços</title>

</head>

<title>Página de Endereços</title>
<style>

</style>
<body>
    <div class="header">
                <span class="links-header">
                    <span><a href="#">Início</a></span>
                    <span><a href="../produtos/produtos.html">Loja</a></span>
                    <span><a href="#features-charts">Fale conosco</a></span>
                    <span id="div-busca">
                        <input type="text" id="txt-busca" placeholder="">
                    </span>
                    <span class="search"><ion-icon name="search"></ion-icon></span>
                    <span class="cart"><ion-icon name="cart"></ion-icon><a href="#"></a></span>
                    <span class="user"><a href="../perfil/perfil.html"><ion-icon name="person"></ion-icon></a></span>
                </span>
    </div>
    <div class="container">

        <div class="box">
            <span class="title">Endereços</span><br>
            <a href="new-address.html">
                <button>Adicionar novo endereço</button>
            </a>
            <table>
                <tr>
                    <td>Nome</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>CPF ou CNPJ</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Endereço</td>
                    <td></td>
                </tr>
                <tr>
                    <td>País</td>
                    <td></td>
                </tr>
                <tr>
                    <td>CEP</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Telefone</td>
                    <td></td>
                </tr>
            </table>
            <button>Editar</button>
            <button>Apagar</button>
        </div>
    </div>
</body>
</html>

