<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/addresses.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Endereços</title>

</head>

<title>Página de Endereços</title>
<style>

</style>
<body>
<div class="container">
    <div class="box">
        <span class="title">Endereços</span><br>
        <button>Adicionar novo endereço</button>
        <table>
            <tr>
                <td>Nome</td>
                <td></td>
            </tr>
            <tr>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>CPF ou CNPJ</td>
                <td></td>
            </tr>
            <tr>
                <td>Endereço</td>
                <td></td>
            </tr>
            <tr>
                <td>País</td>
                <td></td>
            </tr>
            <tr>
                <td>CEP</td>
                <td></td>
            </tr>
            <tr>
                <td>Telefone</td>
                <td></td>
            </tr>
        </table>
        <button>Editar</button>
        <button>Apagar</button>
    </div>
</div>
</body>
</html>

