<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/addresses.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Endereços</title>

</head>

<title>Novo Endereço</title>
<style>

</style>
<body>
    <div class="header">
        <span class="links-header">
            <span><a href="#">Início</a></span>
            <span><a href="../produtos/produtos.html">Loja</a></span>
            <span><a href="#features-charts">Fale conosco</a></span>
            <span id="div-busca">
                <input type="text" id="txt-busca" placeholder="">
            </span>
            <span class="search"><ion-icon name="search"></ion-icon></span>
            <span class="cart"><ion-icon name="cart"></ion-icon><a href="#"></a></span>
            <span class="user"><a href="../perfil/perfil.html"><ion-icon name="person"></ion-icon></a></span>
        </span>
    </div>

    <div class="container">

        <div class="form">
            <form action="" method="post">
                <fieldset>
                    <legend><b>Cadastro de Endereço</b></legend>
                    <br>
                    <div class="inputBox">
                        <input type="text" name="nome" id="nome" class="inputUser" required>
                        <label for="nome" class="labelInput">Nome completo</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="email" id="email" class="inputUser" required>
                        <label for="email" class="labelInput">Email</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="cpf" id="cpf" class="inputUser" required>
                        <label for="cpf" class="labelInput">CPF ou CNPJ</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="endereco" id="endereco" class="inputUser" required>
                        <label for="endereco" class="labelInput">Endereço</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="country" id="country" class="inputUser" required>
                        <label for="country" class="labelInput">País</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="cep" id="cep" class="inputUser" required>
                        <label for="cep" class="labelInput">CEP</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="tel" name="phone" id="phone" class="inputUser" required>
                        <label for="phone" class="labelInput">Telefone</label>
                    </div>
                    <br><br>
                    <input type="submit" name="submit" id="submit">
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>

