* {
    box-sizing: border-box;
}


.container {
    width: 80%;
    margin: 0 auto;
}


.box {
    width: 60%;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 17px;
    background-color: #ececec;
    color: #061c5d;
}


.box span {
    text-align: left;
    text-decoration: underline;
    font-size: large;
}


.box button {
    width: 200px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 17px;
    color: white;
}

.box button:first-of-type {
    background-color: #061c5d;
}

.box button:nth-of-type(2) {
    background-color: #061c5d;
}

.box button:nth-of-type(3) {
    background-color: #d0d0d0;
    color: #061c5d;
}

.box table {
    width: 100%;
    border-collapse: collapse;
}


.box table td {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.box table button {
    width: 100px;
    float: right;
}
