
.header{
    background-color: #041540;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Poppins', sans-serif;
    text-align: right;

}

.header a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 1%;
}

.header a:hover{
    color: #d7d7d7;
}

.header .user{
    margin-right: 1%;
}

#div-busca input{
    border-radius: 8px;
    border-style: none;
    padding: 0.4rem;
    margin-left: 1% ;
    width: 15%;
}