body {
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
.header{
    background-color: #041540;
    padding: 1%;
}

.links-header {
    margin-left: 52%;
}

.header a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 1%;
}

.header a:hover{
    color: #d7d7d7;
}

.header ion-icon:hover{
    color: #d7d7d7;
}

.header .user{
    margin-right: 1%;
}

#div-busca input{
    border-radius: 10px;
    border-style: none;
    padding: 0.4rem;
    margin-left: 1% ;
    width: 15%;
}

.user ion-icon {
    color: white;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.cart ion-icon {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.search ion-icon {
    color: #041540;
    position: relative;
    left: -25px;
    top: 3px;
}
.search ion-icon:hover {
    color: #2552ce;
    cursor: pointer;
}

#features-charts {
    display: block;
    margin-top: 33%;
    text-align: center ;
    justify-content: space-between;
    vertical-align: middle;
}

#features-charts span {
    background-color: lightgrey;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/*PRODUCTS*/

#products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#products img {
    width: 80%;
    margin-top: 2%;
    border-radius: 17px;
    height: 30em;
    display: block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#products-bg {
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    border-radius: 17px;
    text-align: center;
    background-color: rgba(0, 55, 165, 0.35);
}

.table-products {
    padding: 3%;
}
.produtos .loucos-livros img {
    width: 90%;
}
.produtos .guarda-chuvas img {
    width: 98%;
}
.produtos .paradoxo img {
    width: 90%;
}
.produtos .melhor-filmes img{
    width: 60%;
}
.produtos .final-fantasy img{
    width: 45%;
}
.produtos .red-dead img{
    width: 85%;
}
.produtos .resident-evil img{
    width: 65%;
}
.produtos .papers-please img{
    width: 60%;
}

.products-titles {
    color: #FFFFFF;
    font-size: 90%;
}

.products-prices{
    color: #070571;
    width: 100%;
}

.recommendations{
    margin-left: 10%;
    color: #070571;
}

.recommendations ion-icon{
    font-size: 110%;
}
.products-cart button {
    background-color: #070571;
    color: #ffff;
    border: none;
    border-radius: 10px;
    padding: 3%;
    cursor: pointer;
 }

.products-cart button:hover{
    background-color: #03013f;
}

/*Visualizar produtos*/

.table-products2 {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-titles2 {
    color: #fff ;
}