<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/produtos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Produtos</title>

</head>

<body>
    <div class="header">
        <span class="links-header">
            <span><a href="../home/home.html">Início</a></span>
            <span><a href="produtos.html">Loja</a></span>
            <span><a href="../../templates/home/home.html#features-charts">Fale conosco</a></span>
            <span id="div-busca">
                <input type="text" id="txt-busca" placeholder="">
            </span>
            <span class="search"><ion-icon name="search"></ion-icon></span>
            <span class="cart"><a href="#"><ion-icon name="cart"></ion-icon></a></span>
            <span class="user"> <a href="../perfil/perfil.html"><ion-icon name="person"></ion-icon></a></span>
        </span>
    </div>
    <div id="products">
        <img src="../../static/images/menina-estante.png" alt="Menina pegando livro na estante">
    </div>

     <div id="products-bg">

         <table class="table-products">
             <tr class="produtos">
                 <th class="loucos-livros">
                     <img src="../../static/images/loucos-por-livros.png" alt="Loucos por livros">
                 </th>
                 <th class="guarda-chuvas">
                     <img src="../../static/images/guarda-chuvas.png" alt="Para onde vão os guarda-chuvas">
                 </th>
                 <th class="paradoxo">
                     <img src="../../static/images/o-paradoxo.png" alt="O paradoxo de Atlas">
                 </th>
                  <th class="melhor-filmes">
                     <img src="../../static/images/melhor-filmes-copy.png" alt="Melhor do que nos filmes">
                 </th>
                 <th class="final-fantasy">
                     <img src="../../static/images/final-fantasy.png" alt="Final Fantasy">
                 </th>
                 <th class="red-dead">
                      <img src="../../static/images/red-dead.png" alt="Red Dead Redemption II">
                 </th>
                 <th class="resident-evil">
                     <img src="../../static/images/resident-evil.png" alt="Resident Evil 4">
                 </th>
                 <th class="papers-please">
                     <img src="../../static/images/paper-please.png" alt="Papers, please.">
                 </th>
             </tr>

              <tr class="products-titles">
                <td>Loucos por livros, Emily Henry, Ana Rodrigues</td>
                <td>Para onde vão os guarda-chuvas? Afonso Cruz</td>
                <td>O paradoxo de Atlas, Olivie Blake</td>
                <td>Melhor do que nos filmes, Lynn Painter</td>
                <td>Final Fantasy VII</td>
                <td>Red Dead Redemption II</td>
                <td>Resident Evil 4</td>
                <td>Papers, please.</td>
              </tr>

             <tr class="products-prices">
                <td>59,90</td>
                <td>99,50</td>
                <td>43,50</td>
                <td>65,90</td>
                <td>199,00</td>
                <td>298,89</td>
                <td>230,50</td>
                <td>17,75</td>
             </tr>

             <tr class="products-cart">
                <td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td><td>
                    <button>
                       Comprar
                    </button>
                </td>
             </tr>
         </table>
    </div>
    <div class="recommendations">
         <h3> <ion-icon name="checkmark-done-outline"></ion-icon> Recomendações</h3>
    </div>
    <script src="produtos.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
