<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/produtos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Produtos</title>

</head>

<body>
    <div class="header">
        <span class="links-header">
            <span><a href="../home/home.html">Início</a></span>
            <span><a href="produtos.html">Loja</a></span>
            <span><a href="../../templates/home/home.html#features-charts">Fale conosco</a></span>
            <span id="div-busca">
                <input type="text" id="txt-busca" placeholder="">
            </span>
            <span class="search"><ion-icon name="search"></ion-icon></span>
            <span class="cart"><a href="#"><ion-icon name="cart"></ion-icon></a></span>
            <span class="user"> <a href="../perfil/perfil.html"><ion-icon name="person"></ion-icon></a></span>
        </span>
    </div>
     <div id="products-bg">

         <table class="table-products2">
             <tr class="produtos">
                 <th class="loucos-livros">
                     <img src="../../static/images/loucos-por-livros.png" alt="Loucos por livros">
                 </th>
             </tr>

              <tr class="products-titles2">
                <td>Loucos por livros, Emily Henry, Ana Rodrigues</td>
              </tr>

             <tr class="products-prices">
                <td>59,90</td>
             </tr>

             <tr class="products-cart">
                <td>
                    <button>
                       Comprar
                    </button>
                </td>
             </tr>
         </table>
    </div>
    <script src="produtos.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
