<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/pedidos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../static/images/lazuli-branco.png"/>
    <title>Pedidos</title>

</head>

<body>
<div class="header">
    <span class="links-header">
        <span class="links-header">
                <span><a href="../home/home.html">Início</a></span>
                <span><a href="../produtos/produtos.html">Loja</a></span>
                <span><a href="../../templates/home/home.html#features-charts">Fale conosco</a></span>
                <span id="div-busca">
                    <input type="text" id="txt-busca" placeholder="">
                </span>
                <span class="search"><ion-icon name="search"></ion-icon></span>
                <span class="cart"><ion-icon name="cart"></ion-icon><a href="#"></a></span>
                <span class="user"><a href="../perfil/perfil.html"><ion-icon name="person"></ion-icon></a></span>
        </span>
    </span>
</div>
<div id="requests">
    <h3>Pedidos</h3>
    <div class="body-request">
        <span class="delivery">Entrega prevista para 09/06/2023</span>
        <div class="book">
            <img src="../../static/images/melhor-filmes.png" alt="">
            <span>Melhor que nos filmes</span>
            <span class="price">R$ 65,90</span>
        </div>
        <div class="games">
            <img src="../../static/images/red-dead.png" alt="">
            <span>Red Dead Redemption II</span>
            <span class="price">R$ 298,99</span>
        </div>
        <div class="total-itens">
            <span>Total: R$ 364,89</span>
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
