<!DOCTYPE html>
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/perfil.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
        <title>Perfil</title>
    </head>

    <body>
        <div id="profile-user">
            <h3>Perfil</h3>
            <div class="buttons-profile">
                <span>
                    <ion-icon name="logo-dropbox"></ion-icon>
                    <h2><a href="#">Seus pedidos</a></h2>
                </span>
                <span>
                    <ion-icon name="location-outline"></ion-icon>
                    <h2><a href="#">Endereços</a></h2>
                </span>
                <span>
                    <ion-icon class="logout" name="log-out-outline"></ion-icon>
                    <h2><a href="#">Sair</a></h2>
                </span>
            </div>
        </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
